<nav class="navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-nav">{control static:items $root->branches,$root->level}</div>                                         
    </div>
</nav>