{if ($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuHasBranches) && $menuItem->containSubMenu}
    <span n:class="!empty($menuItem->class)?$menuItem->class">
        {if (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuCheck) && ($menuItem->checked !== NULL))}&nbsp;<i n:class="fa, fa-fw, ($menuItem->checked)?'fa-check-square-o text-success':'fa-square-o text-info'"></i>{/if}
        {if !empty($menuItem->icon)}&nbsp;<i class="{$menuItem->icon}"></i>{/if}          
        {if !empty($menuItem->name)}&nbsp;{_$menuItem->name}{/if}           
        {if (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuBadge) && ($menuItem->badgeText !== NULL))}&nbsp;<span class="badge">{_$menuItem->badgeText}</span>{/if}

    </span>
{elseif (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuLink) && $menuItem->linkDestination !==NULL)}
    <a n:class="!empty($menuItem->class)?$menuItem->class" href="{$presenter->link($menuItem->linkDestination,$menuItem->linkArgs)}" {if $menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IRobot && !empty($menuItem->aRel)} rel="{$menuItem->aRel}"{/if}>
        {if (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuCheck) && ($menuItem->checked !== NULL))}&nbsp;<i n:class="fa, fa-fw, ($menuItem->checked)?'fa-check-square-o text-success':'fa-square-o text-info'"></i>{/if}
        {if !empty($menuItem->icon)}&nbsp;<i class="{$menuItem->icon}"></i>{/if}            
        {if !empty($menuItem->name)}&nbsp;{_$menuItem->name}{/if}
        {if (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuBadge) && ($menuItem->badgeText !== NULL))}&nbsp;<span class="badge">{_$menuItem->badgeText}</span>{/if}
    </a>
{elseif (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuUrl) && $menuItem->url !==NULL)}
    <a n:class="!empty($menuItem->class)?$menuItem->class" href="{$menuItem->url}" {if $menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IRobot && !empty($menuItem->aRel)} rel="{$menuItem->aRel}"{/if}>
        {if (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuCheck) && ($menuItem->checked !== NULL))}&nbsp;<i n:class="fa, fa-fw, ($menuItem->checked)?'fa-check-square-o text-success':'fa-square-o text-info'"></i>{/if}
        {if !empty($menuItem->icon)}&nbsp;<i class="{$menuItem->icon}"></i>{/if}            
        {if !empty($menuItem->name)}&nbsp;{_$menuItem->name}{/if}
        {if (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuBadge) && ($menuItem->badgeText !== NULL))}&nbsp;<span class="badge">{_$menuItem->badgeText}</span>{/if}
    </a>
{else}
    <span n:class="!empty($menuItem->class)?$menuItem->class">
        {if (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuCheck) && ($menuItem->checked !== NULL))}&nbsp;<i n:class="fa, fa-fw, ($menuItem->checked)?'fa-check-square-o text-success':'fa-square-o text-info'"></i>{/if}
        {if !empty($menuItem->icon)}&nbsp;<i class="{$menuItem->icon}"></i>{/if}            
        {if !empty($menuItem->name)}&nbsp;{_$menuItem->name}{/if}
        {if (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuBadge) && ($menuItem->badgeText !== NULL))}&nbsp;<span class="badge">{_$menuItem->badgeText}</span>{/if}
    </span>
{/if}    
{if ($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuHasBranches) && $menuItem->containSubMenu}
    {control static:items $menuItem->branches,$menuItem->level}
{/if}
