<!-- Navigation -->
<nav class="navbar-default navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button n:if="!empty($collapseClass)" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".{$collapseClass}">
                <span class="sr-only">{translate}Toggle navigation{/translate}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {if isset($brandMenu) && isset($brandMenu->branches)}
                <a n:foreach="$brandMenu->branches as $brandMenuItem" n:class="navbar-brand, !empty($brandMenuItem->class)?$brandMenuItem->class" n:attr="rel=>$brandMenuItem->aRel" href="{$presenter->link($brandMenuItem->linkDestination,$brandMenuItem->linkArgs)}">
                    {if (($brandMenuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuCheck) && ($brandMenuItem->checked !== NULL))}&nbsp;<i n:class="fa, fa-fw, ($brandMenuItem->checked)?'fa-check-square-o text-success':'fa-square-o text-info'"></i>{/if}
                    {if !empty($brandMenuItem->icon)}&nbsp;<i class="{$brandMenuItem->icon}"></i>{/if}            
                    {if !empty($brandMenuItem->name)}&nbsp;{_$brandMenuItem->name}{/if}
                    {if (($brandMenuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuBadge) && ($brandMenuItem->badgeText !== NULL))}&nbsp;<span class="badge">{_$brandMenuItem->badgeText}</span>{/if}
                </a>
            {/if}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse {$collapseClass}">
            <ul n:if="isset($leftMenu) && isset($leftMenu->branches)" class="nav navbar-nav navbar-top-links">
                {control static:items $leftMenu->branches,$leftMenu->level}
            </ul>
            {if isset($searchMenu) && isset($searchMenu->branches)}
                {control static:items $searchMenu->branches,$searchMenu->level}
            {/if}
            <ul n:if="isset($rightMenu) && isset($rightMenu->branches)" class="nav navbar-nav navbar-top-links navbar-right">
                {control static:items $rightMenu->branches,$rightMenu->level}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav> 