<li n:class="$menuItem->containSubMenu?dropdown, isset($menuItem->class)?$menuItem->class" n:if="($menuItem instanceof \NetteBootstapMenu\Menu\MenuDropdownMessage)">
    {if ($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuHasBranches) && $menuItem->containSubMenu}
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
            <i n:if="!empty($menuItem->icon)" class="{$menuItem->icon}"></i>&nbsp;{_$menuItem->name}<span class="fa fa-caret-down"></span>
        </a>
    {elseif (($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuLink) && isset($menuItem->linkDestination) && $menuItem->linkDestination !==NULL)}
        <a href="{$presenter->link($menuItem->linkDestination,$menuItem->linkArgs)}">
            <div>
                <i n:if="!empty($menuItem->icon)" class="{$menuItem->icon}"></i> <strong>{_$menuItem->name}</strong>
                <span n:if="isset($menuItem->datetime)" class="pull-right text-muted">
                    <em>{$menuItem->datetime}</em>
                </span>
            </div>
            <div n:if="isset($menuItem->description)">{_$menuItem->description}</div>
        </a>
    {/if}
    {if ($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuHasBranches) && $menuItem->containSubMenu}
        {control static:items $menuItem->branches,$menuItem->level,'dropdown-messages'}
    {/if}
</li>