<form n:if="($menuItem instanceof \NetteBootstapMenu\Menu\MenuSearch)" n:name=menuHorizontalSearchForm class="navbar-form navbar-left">
    <div class="form-group">
        <input n:name=search type="text" class="form-control" placeholder="{$menuItem->name}">
        <input n:name=destination type="hidden" value="{$menuItem->linkDestination}">
    </div>
    <button n:name=submit class="btn btn-default" type="submit"><i class="{$menuItem->icon}"></i></button>
</form>