<li n:if="($menuItem instanceof \NetteBootstapMenu\Menu\MenuCounter)" class="sidebar-search">
    <div class="panel panel-info">
        <div n:if="isset($menuItem->name)" class="panel-heading">
            <i n:if="!empty($menuItem->icon)" class="{$menuItem->icon}"></i> {_$menuItem->name}
        </div>
        <div class="panel-body">
            {foreach $menuItem->counters as $name => $counter}
                <div class="row">
                    <div class="col-xs-7 col-xs-offset-1 label label-primary">{_$name}</div>
                    <div class="col-xs-4 text-right"><strong>{$counter}&nbsp;</strong></div>
                </div> 
            {/foreach}
        </div>
    </div>
</li>