<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<nav class="navbar-default sidebar">
    <div  n:attr="name => $name"  class="sidebar-nav {$collapseClass}">
        {control static:items $root->branches,$root->level}                                         
    </div>
</nav>
<!-- /.navbar-collapse -->
