{if $level==1}
    <ul n:class="nav, in, isset($class)?$class" id="side-menu">
    {foreach $menu as $menuItem}
        {if $menuItem->showMenu && $menuItem->checkSecurity($user)}{control static:selector $menuItem}{/if}
    {/foreach}
</ul>
{else}
    <ul n:class="nav, $levelClass, isset($class)?$class">
    {foreach $menu as $menuItem}
        {if $menuItem->showMenu && $menuItem->checkSecurity($user)}{control static:selector $menuItem}{/if}
    {/foreach}
</ul>
<!-- /.{$levelClass} -->    
{/if}


