<li n:if="($menuItem instanceof \NetteBootstapMenu\Menu\MenuSearch)" class="sidebar-search">
    <form n:name=menuSearchForm >
        <div class="input-group custom-search-form">
            <input n:name=search type="text" class="form-control" placeholder="{$menuItem->name}">
            <input n:name=destination type="hidden" value="{$menuItem->linkDestination}">
            <span class="input-group-btn">
                <button n:name=submit class="btn btn-default" type="submit">
                    <i class="{$menuItem->icon}"></i>
                </button>
            </span>
        </div>
    </form>    
    <!-- /input-group -->
</li>