<li n:if="($menuItem instanceof \NetteBootstapMenu\Menu\MenuSeparator)">
    <i n:if="!empty($menuItem->icon)" class="{$menuItem->icon}"></i>{if !empty($menuItem->name)}&nbsp;{_$menuItem->name}{/if}
</li>