{* Latte template *}

{block content}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {$presenterName}
            <small n:if="$presenterAction!=='default'">{$presenterAction}</small>
        </h1>
        <ol class="breadcrumb" n:if="isset($breadCrumbsItems)">
            {foreach $breadCrumbsItems as $menuItem}
                {continueIf $iterator->first && !($menuItem instanceof \NetteBootstapMenu\Menu\Interfaces\IMenuHasParent)}
                {if !$iterator->last}
                    <li n:if="empty($menuItem->linkDestination)" title="{$menuItem->joinParentsNames()}">
                        <i n:if="!empty($menuItem->icon)" class="{$menuItem->icon}"></i> {_$menuItem->name}
                    </li>
                    <li n:if="!empty($menuItem->linkDestination)" title="{$menuItem->joinParentsNames()}">
                        <a href="{$presenter->link($menuItem->linkDestination,$menuItem->linkArgs)}" ><i n:if="!empty($menuItem->icon)" class="{$menuItem->icon}"></i> {_$menuItem->name}</a>
                    </li>
                {/if}
                {if $iterator->last}
                    <li class="active" title="{$menuItem->joinParentsNames()}">
                        <i n:if="!empty($menuItem->icon)" class="{$menuItem->icon}"></i> {_$menuItem->name}
                    </li>
                {/if}
            {/foreach}
        </ol>
    </div>
</div>
<!-- /.row -->